
.aboutus{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.introduction{
    font-style: serif;
    font-size: 18px;
}



.motivation{
    font-style: serif;
    font-size: 18px;
}

.aim{
    font-style: serif;
    font-size: 18px;
}

.HowToDo{
    font-style: serif;
    font-size: 18px;
}