<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NGO PAGE</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		.jumbotron {
			background-color: #f8f8f8;
			padding-top: 120px;
			padding-bottom: 120px;
		}
		.container-fluid {
			padding: 60px 50px;
		}
		.btn {
			padding: 10px 20px;
			font-size: 18px;
			margin-top: 30px;
		}
		.donate-image {
			margin-top: 30px;
			margin-bottom: 30px;
			max-width: 100%;
			height: auto;
		}
		.feature {
			text-align: center;
			margin-bottom: 50px;
		}
		.feature h3 {
			font-size: 24px;
			font-weight: 600;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.feature p {
			font-size: 18px;
			margin-bottom: 20px;
		}
		.feature img {
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
	</style>
  
  <body>
  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1>
          <a class="navbar-brand" href="{{url_for("children_signin_submit")}}">NGO </a>
          </h1>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a href="{{url_for("children_signin_submit")}}">Home</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for("children_pending_request")}}">My Requests</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for("children_request")}}">Request</a>
                </li>
                <li class="nav-item">
                  <a href="{{url_for("home")}}">logout</a>
                        </li>
                <li class="nav-item">
                  <a href="{{url_for("index_farmer")}}">Upload</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Support NGO in Need</h1>
        <p>Make a difference by donating to our cause today</p>
        <a href="#" class="btn btn-default btn-lg">Donate Now</a>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>About Our Cause</h2>
                  <p>eleifend nisi ex quis ipsum. Sed vel orci ut sapien faucibus malesuada. Nulla luctus orci sed commodo dictum. Duis tincidunt orci ipsum, ut sollicitudin velit suscipit eget. Nam ut elit nec justo suscipit sodales vel a felis. Nullam sit amet ex velit. Proin euismod libero quis augue bibendum, vel dignissim sapien commodo. Nunc commodo, lectus id rhoncus consectetur, quam dolor sollicitudin lacus, sit amet convallis risus turpis vel ex. Quisque mollis orci ac rutrum commodo. Pellentesque bibendum imperdiet dolor, id consectetur ipsum vestibulum eu. Duis at eleifend odio. Fusce vestibulum commodo turpis ac molestie. Sed hendrerit efficitur velit, eu accumsan odio.</p>
                  <h2>Our Mission</h2>
                  <p>Nulla facilisi. Sed tincidunt erat at ante scelerisque bibendum. Praesent ornare ac tortor sed placerat. Etiam dignissim magna vel risus venenatis, vitae aliquam dolor suscipit. Sed dapibus, ipsum sit amet consectetur maximus, nisl lectus bibendum magna, non bibendum turpis ante nec libero. Sed rhoncus odio eu dolor faucibus malesuada. Duis vel nisi purus. Aliquam eu orci auctor, placerat enim at, euismod massa. Donec blandit erat a lacinia eleifend.</p>
      
                 
              </div>
              <div class="col-sm-4">
                  <img src="https://dummyimage.com/600x400/000/fff" class="donate-image" alt="Donate Image">
                  <div class="feature">
                      <img src="https://dummyimage.com/300x200/000/fff" alt="Feature Image">
                      <h3>Help NGO in Need</h3>
                      <p>By donating to our cause, you can help NGO facing challenges such as natural disasters, crop failures, and financial difficulties.</p>
                  </div>
                  <div class="feature">
                      <img src="https://dummyimage.com/300x200/000/fff" alt="Feature Image">
                      <h3>Make a Difference</h3>
                      <p>Your donation, no matter how small, can make a significant impact in the lives of those we aim to help.</p>
                  </div>
              </div>
          </div>
      </div>
      
      <footer class="container-fluid text-center">
          <p>Copyright © 2023 
              <a href="#">NGO Donation Page</a>
          </p>
      </footer>
      